<footer class="section_footer">
  <div class="container">
    <div class="footer_body">
      <div class="footer">
        <h2>شبکه های اجتماعی</h2>
        <div class="footer_main">
          <div class="footer_icons">
            <div class="footer_icon">
              <span class="footer_span_icon">تلگرام</span>
              <a href="https://t.me/mech_khu" target="_blink"><i class="fa fa-telegram"></i></a>
            </div>
            <div class="footer_icon">
              <span class="footer_span_icon" style="left: 10px">اینیستاگرام</span>
              <a href="https://instagram.com/mech.khu?igshid=c0gxrio9bz5v" target="_blink"><i
                  class="fa fa-instagram"></i></a>
            </div>
          </div>
          <div>
            <h2>لینک های مرتبط</h2>
            <div>
              <p style="margin-top: 25px">
                <a href="https://khu.ac.ir/" target="_blank">سایت دانشگاه خوارزمی</a>
              </p>
              <p>
                <a href="https://ssa.khu.ac.ir/" target="_blank">سایت انجمن خوارزمی</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <h2>ادرس انجمن</h2>
        <div class="footer_main">
          <p>
            نشانی: کرج – انتهای خیابان شهید بهشتی – میدان دانشگاه – دانشکده فنی
          </p>
          <p>کد پستی: ۳۷۵۵۱- ۳۱۹۷۹</p>
          <p>تلفن تماس: ۳۴۵۷۹۶۰۰-۲۶-۹۸+</p>
          <p>ایمیل: info@khu.ac.ir</p>
        </div>
      </div>
      <div class="footer f_map">
        <h2>نقشه</h2>
        <div id="map" class="map map-home" style="
            height: 200px;
            width: 250px;
            margin-top: 40px;
            position: relative;
            outline: none;
            z-index: 10;
            border-radius: 10px;
          "></div>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <p class="text-muted">
      &copy; Created by
      <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">Amir Saeedi
      </a>
    </p>
  </div>
</footer>