<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100">
  <div class="container-fluid">
    <div class="nav_logo">
      <div class="nav-logo">
        <a class="nav_logo_img" href="/">
          <img class="nav_logo-img" src="/public/img/logo/انجمن - سفید.png" alt="logo" /></a>
      </div>
      <div class="nav_logo_text">
        <p>انجمن علمی مهندسی<span>مکانیک دانشگاه خوارزمی</span></p>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse pe-2" id="navbarSupportedContent">
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row-reverse">
          <li class="nav-item">
            <a class="nav-link nav__link" aria-current="page" href="/">صفحه ی اصلی</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav__link" href="/about">درباره ی ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav__link" href="/technic">نشریه تکنیک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav__link" href="/courses">دوره ها و رویداد ها</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link nav__link" href="/blog">وبلاگ</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav__link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              سایر
            </a>
            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item d-inline-block" href="/blog">وبلاگ</a></li>
              <li><a class="dropdown-item d-inline-block" href="/aparat">ویدو های درسی</a></li>
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <!-- <li>
                <hr class="dropdown-divider">
              </li> -->
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav_logo_sm">
        <img src="/public/img/logo/انجمن - سفید.png" alt="">
      </div>
    </div>
    <div class="logo_uni animate__animated animate__backInDown">
      <div class="logo_uni_left"></div>
      <img src="/public/img/logo/دانشگاه - سفید.png" alt="" />
      <div class="logo_uni_right"></div>
    </div>
  </div>
</nav>
<div class="progress-container fixed-top">
  <span class="progress-bar"></span>
</div>