.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 25px;
  }
  .row_header {
    margin-top: 25px;
  }
}
.text_honors {
  width: 100%;
  text-align: end;
  padding-top: 50px;
}
.section_main {
  .card_About {
    width: 20rem;
  }
}
