// scss basic
// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$bg-color-body: #f5f2f2;
$bg-header-section: #515660;
// nav
$nav-bg-nav: #303c6c;
$nav-bg-progress-bar: #97c13a;
// home
$home-bg-carousel_control_style: #28c6c6;
$home-bg-carousel_control_style-color: #515660;
$home-bg-h_news: #28c6c6;
$home-bg-h_news_btn: #515660;
$home-bg-h_about: #28c6c6;

// about
// tecnick
$tecnick-clor-sec-right: #97c13a;
//course
$cours-bg-owl: #28c6c6;
$cours-bg-owl-hover: #303c6c;
// footer
$footer-bg-footer: #97c13a;
$footer-bg-footer-end: #515660;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)

$color-grey-dark-1: #3b3432; // top text
$color-grey-dark-2: #615551; // Normal text
$color-grey-dark-3: #918581; // Lighter text
$color-grey-dark-4: #6c757d; // Meuted text

$shadow-text-1: 1px 1px 1px #000, -1px -1px 1px #fff; // bg light
$shadow-text-2: 1px 1px 1px #fff, -1px -1px 1px #000; // bg dark

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@font-face {
  font-family: BalooBhaijaan;
  src: url(/public/font/BalooBhaijaan2-Medium.ttf);
}
@font-face {
  font-family: Bnazanin;
  src: url(/public/font/B-NAZANIN.TTF);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: BalooBhaijaan, Bnazanin;
  overflow-x: hidden;
  background: $bg-color-body;
  direction: ltr;
  font-weight: 400;
  line-height: 1.6;
  font-size: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh);
}
li {
  color: black;
  list-style: none;
}
a {
  color: black;
}
.container {
  max-width: 120rem;
  margin: 4vw auto;
  border-radius: 9px;
  overflow: hidden;
  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  color: $color-grey-dark-2;
  direction: rtl;
}
li {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.header_m {
  text-align: right;
  padding: 40px 0 0 0;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  background: $bg-header-section;
  p {
    padding-right: 40px;
    text-shadow: $shadow-text-1;
    color: $color-grey-light-1;
  }
}
.section {
  position: relative;
  text-align: center;
  padding-top: 30px;
  h2 {
    color: $color-grey-dark-1;
    font-size: 30px;
    font-weight: 600;
    text-shadow: $shadow-text-1;
    padding: 10px;
  }
}
.section_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .card {
    width: 32rem;
    margin: 10px 30px;
  }
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
