// scss basic
// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;
// f5f2f2 and #515660, #303c6c, #97c13a, #28c6c6 =>step1
// f5f2f2 and #9ADCFF, #FFF89A, #FFB2A6, #FF8AAE =>step2
// f5f2f2 and #781D42, #A3423C, #DE834D, #F0D290 =>step3
$color-One: #3d3d3d;
$color-Two: #6059f7;
$color-Three: #36c3fe;
$color-four: #8c61ff;
//
$bg-color-body: #f5f2f2;
$bg-header-section: $color-One;
//
$btn-basic: $color-Three;
$btn-basic-hover: $color-Two;
$btn-basic-home: $color-One;
// nav
$nav-bg-nav: $color-Two;
$nav-bg-progress-bar: $color-Three;
// home
$home-bg-carousel_control_style: $color-four;
$home-bg-carousel_control_style-color: $color-One;
$home-bg-h_news: $btn-basic;
$home-bg-h_news_btn: $color-One;
$home-bg-h_about: $btn-basic-hover;

// about
$about-color-border-row-team: $color-Two;
$about-color-border-row-team-RandB: $color-four;
$about-bg-svg: #888;

// technic
$technic-clor-sec-right: $color-Three;
//course
$cours-bg-owl: $color-four;
$cours-bg-owl-hover: $color-Two;
// footer
$footer-bg-footer: $color-Three;
$footer-bg-footer-end: $color-One;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)

$color-grey-dark-1: #3b3432; // top text
$color-grey-dark-2: #615551; // Normal text
$color-grey-dark-3: #918581; // Lighter text
$color-grey-dark-4: #6c757d; // Meuted text

$shadow-text-1: 1px 1px 1px #000, -1px -1px 1px #fff; // bg light
$shadow-text-2: 1px 1px 1px #fff, -1px -1px 1px #000; // bg dark
$shadow-box-1: 1px 1px 1px rgba(0, 0, 0, 0.3),
  -1px -1px 1px rgba(225, 225, 225, 0.3); // bg light
$shadow-box-2: 1px 1px 1px rgba(225, 225, 225, 0.3),
  -1px -1px 1px rgba(0, 0, 0, 0.3); // bg dark

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// $font-size-XXlarg: 35px;
// $font-size-Xlarg: 25px;
// $font-size-larg: 18px;
// $font-size-small: 15px;
// $font-size-Xsmall: 12px;
// $font-size-XXsmall: 8px;
$font-size-XXlarg: 3rem;
$font-size-Xlarg: 2.5rem;
$font-size-larg: 1.7rem;
$font-size-small: 1.5rem;
$font-size-Xsmall: 1.2rem;
$font-size-XXsmall: 0.7rem;

@font-face {
  font-family: iranyekanwebbold;
  src: url(/public/font/iranYekan/iranyekanwebbold.woff);
}
@font-face {
  font-family: iranyekanweblight;
  src: url(/public/font/iranYekan/iranyekanweblight.woff);
}
@font-face {
  font-family: iranyekanwebregular;
  src: url(/public/font/iranYekan/iranyekanwebregular.woff);
}
@font-face {
  font-family: robotobold;
  src: url(/public/font/iranYekan/robotobold.woff);
}
@font-face {
  font-family: robotolight;
  src: url(/public/font/iranYekan/robotolight.woff);
}
@font-face {
  font-family: robotoregular;
  src: url(/public/font/iranYekan/robotoregular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: iranyekanwebregular, tahoma;
  overflow-x: hidden;
  background: $bg-color-body;
  direction: ltr;
  font-weight: 400;
  line-height: 1.6;
  font-size: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh);
}
li {
  color: black;
  list-style: none;
}
a {
  color: black;
}
.container {
  max-width: 120rem;
  margin: 4vw auto;
  border-radius: 9px;
  overflow: hidden;
  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
/* change border colour to suit your needs */
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label,
button {
  font-family: iranyekanwebbold, tahoma;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  color: $color-grey-dark-2;
  direction: rtl;
}
li {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}
.btn {
  width: 100%;
  padding: 12px 25px;
  border-radius: 12px 25px;
  font-size: 13px;
  border: none;
  text-align: start;
}
.header_m {
  text-align: right;
  padding: 40px 0 0 0;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  background: $bg-header-section;
  p {
    padding-right: 40px;
    text-shadow: $shadow-text-1;
    color: $color-grey-light-1;
  }
}
.section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 30px;
  h2 {
    color: $color-grey-dark-1;
    font-size: 30px;
    font-weight: 600;
    text-shadow: $shadow-text-1;
    padding: 10px;
  }
}
.section_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .card {
    width: 32rem;
    margin: 10px 30px;
  }
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .section {
    h2 {
      font-size: 17px;
    }
  }
}
.special {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  gap: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  .sec-right {
    max-width: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    // padding-bottom: 20px;
    padding-left: 0;
    p {
      // width: 50%;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 40px;
    }
    img {
      height: 200px;
      opacity: 0.8;
      background: none;
      border: none;
    }
  }
}
