.special {
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  gap: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    align-content: center;
    .ih-item.circle {
      width: 330px !important;
      height: 330px !important;
    }
    .ih-item img,
    .ih-item.circle .img:before {
      border-radius: 10% !important;
      width: 150% !important;
      height: 150% !important;
    }
  }
  .sec-right {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    // padding-bottom: 20px;
    padding-left: 0;
    p {
      // width: 50%;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 40px;
    }
    img {
      width: 250px;
      height: 200px;
      opacity: 0.8;
      background: none;
      border: none;
    }
  }
}
.info {
  p {
    margin: 30px !important;
  }
}
// .special_courses {
//   background-image: url("/public/img/blob-haikei.svg");
//   background-color: #cccccc; /* Used if the image is unavailable */
//   background-position: center; /* Center the image */
//   background-repeat: no-repeat; /* Do not repeat the image */
//   background-size: cover; /* Resize the background image to cover the entire container */
// }
.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  .course_articel {
    max-width: 25rem;
    margin: 10px 20px;
    .card {
      img {
        max-height: 350px;
        min-height: 350px;
      }
      h5 {
        color: $color-grey-dark-3;
        font-size: 10px;
      }
      p {
        text-align: justify;
        font-size: 14px;
      }
      a {
        direction: rtl;
        background: $btn-basic;
        &:hover {
          background: $btn-basic-hover;
        }
      }
    }
  }
}
.item {
  img {
    border-radius: 10px;
    box-shadow: $shadow-text-1;
    min-height: 300px;
    max-height: 300px;
    min-width: 250px;
  }
}
.owl-prev,
.owl-next {
  color: $cours-bg-owl !important;
  font-size: 40px !important;
  transition: all 0.5s;
  &:hover {
    color: $cours-bg-owl-hover !important;
  }
}

@media screen and (max-width: 1000px) {
  .special {
    gap: 50px;
  }
  // .item {
  //   min-width: none;
  //   min-height: none;
  //   max-height: none;
  // }
}
