.special {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    align-content: center;
    .ih-item.circle {
      width: 330px !important;
      height: 330px !important;
    }
    .ih-item img,
    .ih-item.circle .img:before {
      width: 150% !important;
      height: 150% !important;
    }
  }
  .sec-left {
    width: 50%;
  }
  .sec-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p {
      width: 50%;
      font-size: 30px;
      font-weight: 600;
      line-height: 0.9;
      margin-bottom: 40px;
    }
    img {
      width: 50%;
      height: 50%;
    }
  }
}
.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  .course_articel {
    max-width: 25rem;
    margin: 10px 20px;
  }
}
.item {
  img {
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  }
}
.owl-prev,
.owl-next {
  color: #fcc419 !important;
  font-size: 40px !important;
  transition: all 0.5s;
  &:hover {
    color: red !important;
  }
}
