.special {
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    align-content: center;
    .ih-item.circle {
      width: 330px !important;
      height: 330px !important;
    }
    .ih-item img,
    .ih-item.circle .img:before {
      width: 150% !important;
      height: 150% !important;
    }
  }
  .sec-right {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 40px;
    p {
      width: 50%;
      font-size: 30px;
      font-weight: 600;
      line-height: 0.9;
      margin-bottom: 40px;
    }
    img {
      width: 250px;
      height: 200px;
      opacity: 0.8;
      background: none;
      border: none;
    }
  }
}
.special_courses {
  background-image: url("/public/img/blob-haikei.svg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  .course_articel {
    max-width: 25rem;
    margin: 10px 20px;
  }
}
.item {
  img {
    border-radius: 10px;
    box-shadow: $shadow-text-1;
  }
}
.owl-prev,
.owl-next {
  color: $cours-bg-owl !important;
  font-size: 40px !important;
  transition: all 0.5s;
  &:hover {
    color: $cours-bg-owl-hover !important;
  }
}
