.section_footer {
  width: 100%;
  background-color: $footer-bg-footer;
  .footer_body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .footer {
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      h2 {
        text-align: center;
        padding-bottom: 10px;
        color: $color-grey-light-1;
        border-bottom: 1px solid #fff;
      }
      .footer_main {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        max-height: 200px;
      }
      p {
        font-size: $font-size-small;
        color: $color-grey-light-2;
        a {
          color: $color-grey-light-2;
        }
      }
      a {
        i {
          font-size: $font-size-XXlarg;
          padding: 0 20px;
          color: $color-grey-light-2;
        }
      }
      .footer_icons {
        width: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        .footer_icon {
          position: relative;
          &:hover {
            .footer_span_icon {
              opacity: 1;
            }
          }
        }
        .footer_span_icon {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: $font-size-Xsmall;
          color: $color-grey-light-2;
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -150%);
          border-radius: 10px;
          transition: all 0.5s;
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 18px 8px 0 8px;
            border-color: $color-grey-light-2 transparent transparent
              transparent;
          }
        }
      }
    }
  }
}
.footer-end {
  width: 100%;
  text-align: center;
  background: $footer-bg-footer-end !important;
  padding: 10px;
  p {
    direction: ltr;
    font-size: $font-size-Xsmall;
    margin-bottom: 0 !important;
    color: $color-grey-light-3 !important;
    a {
      text-decoration: underline;
      color: $color-grey-light-3;
      transition: all 0.2s;
      &:hover {
        color: $color-grey-light-2;
      }
    }
  }
}
