.h_btn {
  background: $home-bg-h_news_btn;
  color: $color-grey-light-2;
  &:hover {
    color: $color-grey-light-2;
    opacity: 0.8;
  }
}
.carousel {
  background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: relative;
  .carousel-inner {
    img {
      filter: blur(3px);
      -webkit-filter: blur(3px);
      margin: 0 auto;
      min-width: 60%;
      max-width: 60%;
      height: 555px;
      opacity: 1;
      border-radius: 2px;
    }
  }
  .carousel_control_style_R {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $home-bg-carousel_control_style;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-top: 10px;
      margin-left: 10px;
      border-style: solid;
      border-width: 10px 0 10px 25px;
      border-color: transparent transparent transparent
        $home-bg-carousel_control_style-color;
    }
  }
  .carousel_control_style_L {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $home-bg-carousel_control_style;
    &::after {
      content: "";
      display: block;
      width: 0;
      margin-top: 10px;
      margin-left: 5px;
      height: 0;
      border-style: solid;
      border-width: 10px 25px 10px 0;
      border-color: transparent $home-bg-carousel_control_style-color
        transparent transparent;
    }
  }
  .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 5px;
    border-radius: 50%;
    background: $home-bg-carousel_control_style;
  }
  .carousel-indicators .active {
    // opacity: 0.7;
    background: $home-bg-carousel_control_style-color;
  }
  .carousel-caption {
    // background: rgba(0, 0, 0, 0.7);
    // background: rgba(50, 65, 85, 0.54);
    width: 50%;
    height: 400px;

    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
    font-weight: bold;
    border: 3px solid #f1f1f1;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    margin: auto;
    top: 50%;
    bottom: -60%;
    left: 50%;
    right: 50%;
    top: 10px;
    h5 {
      direction: rtl;
      margin-top: 18%;
      font-size: $font-size-XXlarg;
      color: #ffffff;
    }
    p {
      font-family: "vazir";
      padding-top: 20px;
      color: #ffffff;
      a {
        transition: all 0.5s;
        color: $color-grey-light-1;
        &:hover {
          color: $color-grey-light-3;
        }
      }
    }
  }
}
.h_news {
  .card {
    direction: rtl;
    min-width: 330px;
    max-width: 330px;
    height: 500px;
    border-radius: 10px;
    .card-title {
      color: $color-grey-dark-4;
    }
    .card-text {
      font-size: $font-size-small;
    }
    img {
      height: 350px;
      border-radius: 10px;
    }
  }
  a {
    direction: rtl;
    background: $home-bg-h_news;
    color: $color-grey-light-2;
  }
}
.activity_audio {
  max-width: 600px;
}
.h_about {
  // background-image: url("/public/img/blob-haikei.svg");
  // background-color: #cccccc; /* Used if the image is unavailable */
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  h2 {
    color: $color-grey-dark-1;
    text-shadow: $shadow-text-1;
  }
  p {
    color: $color-grey-dark-2;
    font-size: $font-size-small;
    text-align: center;
    direction: rtl;
  }
}

@media screen and (max-width: 1000px) {
  .carousel {
    .carousel-inner {
      img {
        max-width: 100% !important;
        min-width: 100% !important;
        max-height: 300px;
        min-height: 300px;
      }
    }
    .carousel-caption {
      display: block !important;
      height: 200px;
      h5 {
        font-size: $font-size-Xsmall;
      }
      p {
        font-weight: 400;
        font-size: $font-size-XXsmall;
      }
    }
  }
}
