.navbar {
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  max-height: 68px;
  background-color: $nav-bg-nav !important;
  // overflow: hidden;
  .navbar-collapse {
    padding-left: 20%;
    flex-grow: 0;
    .navbar-nav {
      display: flex;
      flex-direction: row-reverse;
    }
    .nav-item {
      padding: 0 6px;
      white-space: nowrap;
      .nav-link {
        color: $color-grey-light-2;
        font-size: 20px;
      }
    }
    .nav__link {
      transition: 0.5s all;
    }
  }
  .container-fluid {
    .nav_logo {
      width: 30%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      align-items: center;
      img {
        width: 30%;
        border-radius: 50%;
      }
      .nav_logo_text {
        z-index: 10;
        margin-top: 10px;
        p {
          font-size: 1.5rem;
          color: $color-grey-light-2;
          text-align: end;
          white-space: nowrap;
          font-weight: 300;

          span {
            display: block;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .logo_uni {
    // background: #fff;
    position: absolute;
    display: flex;
    top: 10px;
    right: 50%;
    left: 44%;
    img {
      background-color: $nav-bg-nav;
      max-width: 100px;
      max-height: 100px;
      padding-bottom: 10px;
    }
    .logo_uni_left {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 52px 52px 0;
      border-color: transparent $nav-bg-nav transparent transparent;
      margin-top: 48px;
    }
    .logo_uni_right {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 52px 52px 0 0;
      border-color: $nav-bg-nav transparent transparent transparent;
      margin-top: 48px;
    }
  }
}

.fixed-top {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  z-index: 1000;
}
.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.progress-bar {
  background-color: $nav-bg-progress-bar;
  width: 0%;
  display: block;
  height: inherit;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    max-height: none;
    .logo_uni {
      top: 5px;
      left: 50%;
      right: 40%;
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
  .nav_logo_img {
    display: none;
  }
  .nav_logo_text {
    margin-left: 45px;
    padding: 20px;
    margin-top: 10px;
  }
  .navbar-collapse {
    padding-left: 0 !important;
    .navbar-nav {
      display: flex;
      flex-direction: column !important;
    }
  }
  .logo_uni_left,
  .logo_uni_right {
    display: none;
  }
  .fixed-top {
    top: 99px;
  }
}
