.navbar {
  z-index: 99;
  max-height: 80px;
  background-color: $nav-bg-nav !important;
  .navbar-collapse {
    flex-grow: 0;
    .nav-item {
      padding: 0 5px;
      white-space: nowrap;
      .nav-link {
        color: $color-grey-light-2;
        font-size: $font-size-larg;
      }
    }
    .nav__link {
      transition: 0.5s all;
    }
    .dropdown-menu {
      background: rgba($nav-bg-nav, 0.8);
      direction: rtl;
      border: none;
      transition: all 0.5s;
      li {
        direction: rtl;
        // list-style: inside;
        &::marker {
          color: $color-grey-dark-1;
          font-size: $font-size-small;
        }
        .dropdown-item {
          transition: all 0.2s;
          border-radius: 10px;
          font-size: $font-size-small;
          color: $color-grey-light-2;
          &:hover {
            // background: rgba(#555, 1);
            background: none;
            color: $color-grey-light-3;
          }
        }
      }
    }
    .nav_logo_sm {
      display: none;
    }
  }
  .container-fluid {
    .nav_logo {
      width: 30%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      align-items: center;
      img {
        width: 29%;
      }
      .nav_logo_text {
        p {
          font-size: $font-size-small;
          color: $color-grey-light-2;
          text-align: center;
          white-space: nowrap;
          font-weight: 600;

          span {
            display: block;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .logo_uni {
    // background: #fff;
    position: absolute;
    display: flex;
    top: 25%;
    right: 45%;
    img {
      background-color: $nav-bg-nav;
      max-width: 100px;
      max-height: 90px;
      border-radius: 10px;
      padding: 0 10px 2px;
      // padding-bottom: 2px;
    }
    .logo_uni_left {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 52px 40px 0;
      border-color: transparent $nav-bg-nav transparent transparent;
      margin-top: 48px;
      margin-right: -4px;
    }
    .logo_uni_right {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 52px 0 0;
      border-color: $nav-bg-nav transparent transparent transparent;
      margin-top: 48px;
      margin-left: -4px;
    }
  }
}
.fixed-top {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  z-index: 98;
}
.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.progress-bar {
  background-color: $nav-bg-progress-bar;
  width: 0%;
  display: block;
  height: inherit;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    max-height: none;
    .logo_uni {
      display: none;
      left: 50%;
      right: 40%;
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
  .nav_logo {
    padding-left: 20px;
  }
  .nav_logo_img {
    display: none;
  }
  .nav_logo_text {
    margin-left: 45px;
    padding: 20px;
    margin-top: 10px;
  }
  .navbar-collapse {
    width: 100%;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;
    padding-right: 0px !important;
    direction: rtl;
    .navbar-nav {
      display: flex;
      flex-direction: column !important;
    }
    .nav_logo_sm {
      display: block !important;
      margin: 0 13%;
      // padding-left: 50px;
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
  .logo_uni_left,
  .logo_uni_right {
    display: none;
  }
  .fixed-top {
    z-index: 100;
    top: 107px;
  }
  .dropdown-menu {
    text-align: justify !important;
    li {
      list-style: inside;
      .dropdown-item {
        color: $color-grey-light-3 !important;
        &:hover {
          background: rgba(#555, 1);
          color: $color-grey-light-2 !important;
        }
      }
    }
  }
}
