.sec-right {
  padding-left: 50px;
  h2 {
    color: $technic-clor-sec-right;
  }
  .header_tec {
    font-size: 22px;
  }
  .logo_tecknick {
    padding: 30px 0 50px;
    img {
      width: 200px;
    }
  }
  .tec_link_btn {
    margin: 0 26px 13px;
    font-size: 30px;
    background: $technic-clor-sec-right;
    color: $color-grey-light-2;
    position: relative;
    height: auto;
    border: none;
    border-radius: 0;
    line-height: 1.7;
    font-size: 20px;
    margin: 0 0 12px 0;
    min-width: 250px;
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-right: 17px solid $technic-clor-sec-right;
      left: -17px;
      top: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-left: 17px solid $technic-clor-sec-right;
      right: -17px;
      top: 0;
    }
  }
}
.tec_discription {
  p {
    direction: rtl;
    text-align: justify;
    font-size: 16px;
    padding-top: 10px;
    color: #444;
  }
}
.tec_list {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  .card {
    width: 25rem;
    box-shadow: $shadow-box-2;
    .card-title {
      font-family: "vazir";
      font-size: 14px;
      font-weight: 400;
      color: #999;
    }
    a {
      justify-content: center;
      align-content: center;
      background: rgba(225, 225, 225, 0.9);
      color: #222;
      &:hover {
        background: rgba(0, 225, 225, 0.2);
        color: #555;
      }
    }
  }
}
