<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%- include("links.ejs") %>
    <title>درباره ی ما</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header
      id="About_header"
      class="header header_m text-light"
    >
    <p>      . . . درباره ی ما</p>
      <div style="overflow: hidden;">
        <svg
          preserveAspectRatio="none"
          viewBox="0 0 1200 120"
          xmlns="http://www.w3.org/2000/svg"
          style="fill: #7ffa52; width: 100%; height: 60px; transform: rotate(180deg) scaleX(-1);"
        >
          <path
          d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
          opacity=".25"
        />
          <path
            d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
            opacity=".5"
          />
          <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
        </svg>
      </div>
    </header>
      <section id="About_section-1" class="section About_section animate__animated animate__backInUp">
        <div class="container main_container">
          <h2 class="section_title text-primary">
            معرفی انجمن علمی مهندسی مکانیک دانشگاه خوارزمی
          </h2>
          <div class="text_About" style="text-align: end ;padding-top: 30px ;font-size: 16px;">
            <p class="" >
              ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های علمی، معارفه رشته، سمینار، مسابقات، همایش ها، بازدید ها و تألیف ها و ترجمه ها می توان به اهمیت این تشکل دانشجویی پی برد
            </p>
            <p>
              ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های علمی، معارفه رشته، سمینار، مسابقات، همایش ها، بازدید ها و تألیف ها و ترجمه ها می توان به اهمیت این تشکل دانشجویی پی برد
            </p>
          </div>
      </section>
    </div>  
    <hr />
    <section id="introduction_section-2" class="section introduction About_section">
      <div class="container main_container">
        <h2 class="section_title">اعضای انجمن علمی</h2>
        <!--  -->
        <div class="row" style="margin-top:30px;">
          <div class="col-sm-6">
         
            <!-- normal -->
            <div class="ih-item circle effect4 bottom_to_top"><a href="#">
                <div class="img"><img src="/public/img/avatar6.png" alt="img"></div>
                <div class="info">
                  <h3>Heading here</h3>
                  <p>Description goes here</p>
                </div></a></div>
            <!-- end normal -->
         
          </div>
          <p class="row_header">header</p>
        </div>
        <!--  -->
        <div class="introduction_members section_main">
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/avatar1.png" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <p>header</p>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/avatar2.png" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <p>header</p>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/avatar1.png" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <p>header</p>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/avatar2.png" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <p>header</p>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/avatar1.png" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <p>header</p>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/avatar2.png" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <p>header</p>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/avatar1.png" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <p>header</p>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/avatar2.png" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <p>header</p>
            </div>
          </article>
        </div>
      </div>
    </section>
    <hr>
    <section id="honors_section-2" class="section honors About_section">
      <div class="container main_container">
        <h2 class="section_title">اعضای انجمن علمی</h2>
        <div class="text_honors">
          <p class="hvr-underline-from-right">برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p class="hvr-underline-from-right">برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p class="hvr-underline-from-right">برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p class="hvr-underline-from-right">برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p class="hvr-underline-from-right">برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
        </div>
      </div>
    </section>
    <hr>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
