<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%- include("links.ejs") %>
    <title>درباره ی ما</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header
      id="About_header"
      class="header bg-dark text-light"
      style="padding-top: 80px"
    >
      . . . درباره ی ما
    </header>
      <section id="About_section-1" class="section About_section">
        <div class="container main_container">
          <h2 class="section_title text-primary">
            معرفی انجمن علمی مهندسی مکانیک دانشگاه خوارزمی
          </h2>
          <div class="text_About" style="text-align: end ;padding-top: 30px ;font-size: 16px;">
            <p class="" >
              ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های علمی، معارفه رشته، سمینار، مسابقات، همایش ها، بازدید ها و تألیف ها و ترجمه ها می توان به اهمیت این تشکل دانشجویی پی برد
            </p>
            <p>
              ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های علمی، معارفه رشته، سمینار، مسابقات، همایش ها، بازدید ها و تألیف ها و ترجمه ها می توان به اهمیت این تشکل دانشجویی پی برد
            </p>
          </div>
      </section>
    </div>
    <hr />
    <section id="introduction_section-2" class="section introduction About_section">
      <div class="container main_container">
        <h2 class="section_title">اعضای انجمن علمی</h2>
        <div class="introduction_members section_main">
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article>
            <div class="card Regular shadow card_About ">
              <img
                src="/public/img/avatar1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <hr>
    <section id="honors_section-2" class="section honors About_section">
      <div class="container main_container">
        <h2 class="section_title">اعضای انجمن علمی</h2>
        <div class="text_honors">
          <p>برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p>برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p>برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p>برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
          <p>برگزیده در بخش کتاب سیزدهمین دوره جشنواره درون دانشگاهی حرکت، اسفند ۱۳۹۹<span>-</span></p>
        </div>
      </div>
    </section>
    <hr>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
