<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%- include("links.ejs") %>
    <title>درباره ی ما</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header
      id="About_header"
      class="header header_m text-light"
    >
    <p>درباره ی ما . . .</p>
      <div style="overflow: hidden;">
        <svg
          preserveAspectRatio="none"
          viewBox="0 0 1200 120"
          xmlns="http://www.w3.org/2000/svg"
          style="fill: #7ffa52; width: 100%; height: 60px; transform: rotate(180deg) scaleX(-1);"
        >
          <path
          d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
          opacity=".25"
        />
          <path
            d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
            opacity=".5"
          />
          <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
        </svg>
      </div>
    </header>
      <section id="About_section-1" class="section About_section animate__animated animate__backInUp">
        <div class="container main_container">
          <h2 class="section_title spic-title-about">
            معرفی انجمن علمی - دانشجویی مهندسی مکانیک دانشگاه خوارزمی
          </h2>
          <div class="text_About">
            <p>انجمن علمی - دانشجویی مهندسی مکانیک پس از تلاش ها و پیگیری دانشجویان در اردیبهشت ۹۲ به طور رسمی شروع به کار کرد . انجمن‏ های علمی دانشجویی به عنوان نهادی علمی امکان فعالیت جمعی دانشجویان علاقمند و داوطلب مشارکت در این فعالیت‏ها را در زمینه ‏های گوناگون علمی با همراهی اساتید فراهم می‏ سازد و به عنوان نهادی که عهده‏ دار پویایی و شکوفایی استعدادها و پدیدآورنده و تقویت ‏کننده روحیه پویایی علمی و در نهایت توسعه علم که همان رسالت دانشگاه می‏باشد عمل می‏ نماید و در مسیر دستیابی به اهداف مشخص که مهم‏ترین آن ایجاد روحیه خودباوری و موفقیت اعضا فعال می‏ باشد، حرکت می‏نماید. </p>
            <p>همچنین با هدف ایجاد نشاط علمی و تقویت آن در میان دانشجویان و حمایت از فعالیت‏ های جمعی و خود‏جوش پژوهشی و راهنمایی و مشارکت دانشجویان مستعد در جهت بالندگی علمی و فرهنگی تشکیل شده است و قصد آن از انجام این فعالیت‏ ها، کمک به دانشجویان جهت ایجاد روحیه خودباوری و اعتماد به نفس و نقش آفرینی مؤثر در زمینه تحصیلی در آینده می‌‏ باشد. همچنین عرصه فعالیت‏ های جمعی، تقویت نشاط علمی، پژوهشی و روحیه تعامل است. دانشجویان فعال در انجمن‏ های علمی ‏دانشجویی ضمن آشنایی با فراز و فرود، نحوه ارتباط با سازمان‏ ها، صنایع، جامعه، ادارات و با تقویت بنیه‏ ی علمی خود با سرمایه‏ ی مهارتی و تجربه بیشتری وارد میدان خواهند شد.</p>
      </section>
    </div>  
    <hr />
    <section id="introduction_section-2" class="section introduction About_section">
      <div class="container main_container">
        <h2 class="section_title">اعضای انجمن علمی</h2>
        <!--  -->
        <div class="row" style="margin-top:30px;">
          <div class="col-sm-6">
         
            <!-- normal -->
            <div class="ih-item circle effect4 bottom_to_top"><a>
                <div class="img"><img src="/public/img/about/team/Abolfz.jpg" alt="img"></div>
                <div class="info">
                  <h3>Heading here</h3>
                  <p>Description goes here</p>
                </div></a></div>
            <!-- end normal -->
         
          </div>
          <p class="row_header">دبیر انجمن</p>
        </div>
        <!--  -->
        <div class="introduction_team section_main">
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/AliS.jpg" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>طراح انجمن</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/AliT.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>عضو ناشرین نشریه</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/Aliz.png" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>طراح نشریه</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/Shiva.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>نائب دبیر انجمن</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/Hesam.jpg" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>سر دبیر نشریه</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/Kiarash.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>کمیته ارتباط با صنعت</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/Kimia.jpg" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>روابط عمومی</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>روابط عمومی</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/Laya.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>عضو ناشرین نشریه</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/Mohana.jpg" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>کمیته مسابقات</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/ParsaF.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>عضو ناشرین نشریه</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
          <article>
              <div class="row">
                <div class="col-sm-6 m-5">
                  <div class="ih-item circle colored effect1"><a href="">
                      <div class="spinner"></div>
                      <div class="img"><img src="/public/img/about/team/ParsaM.jpg" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Heading here</h3>
                          <p>Description goes here</p>
                        </div>
                      </div></a></div></div>
                      <div class="team_description">
                        <h5>عضو ناشرین نشریه</h5>
                        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank"">saeediamir1381@gmail.com</a></p>
                      </div>
                </div>
          </article>
          <article>
            <div class="row">
              <div class="col-sm-6 m-5">
                <div class="ih-item circle colored effect1"><a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="/public/img/about/team/Amir.jpg" alt="img"></div>
                    <div class="info">
                      <div class="info-back">
                        <h3>Heading here</h3>
                        <p>Description goes here</p>
                      </div>
                    </div></a></div>
            </div>
            <div class="team_description">
              <h5>طراح سایت</h5>
              <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saeediamir1381@gmail.com" target="_blank">saeediamir1381@gmail.com</a></p>
            </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <hr>
    <section id="honors_section-2" class="section honors About_section">
      <div class="container main_container">
        <h2 class="section_title">گزیده فعالیت های انجمن های علمی</h2>
        <div class="text_honors">
          <p class="hvr-underline-from-right"><span>-</span>برگزاری همایش، سمینار، نشست علمی، سخنرانی.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری کلاس و کارگاه های آموزشی مورد نیاز.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری بازدید های علمی مرتبط با هر رشته.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری کرسی های آزاد اندیشی با موضوعات مرتبط با هر رشته.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری همایش ها و نشست های ملی.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری مناظره های دانشجویی.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>برگزاری مسابقات علمی.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>شرکت در مسابقات علمی.</p>
          <br>
          <p class="hvr-underline-from-right"><span>-</span>انجام فعالیت های آموزشی و پژوهشی.</p>
        </div>
      </div>
    </section>
    <hr>
    <section id="contact" class="section connectUs About_section">
      <div class="container main_container">
        <h2 class="section_title">ارتباط با ما</h2>
        <p class="text-muted" style="margin-bottom: 30px;">شما میتوانید پیشنهاد ها و انتقاد های خود را با ما در میان بگذارید</p>
        <div class="contactUs_main">
          <form action="/about" method="POST" class="form form_contact_us needs-validation" novalidate>
            <label for="name" class="label-control">نام</label>
            <input type="text" class="form-control" id="name" name="name" autocomplete="off" placeholder=""  required>
            <label for="email" class="label-control" >ایمیل</label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="off" placeholder="example: example@gmail.com" required>
            <textarea name="description" class="form-control" type="text" id="description" cols="30" rows="4" placeholder="توضیحات..." required></textarea>
            <button class="btn">ثبت</button>
          </form>
          <div class="img_form_cnatact">
            <img src="/public/img/about/undraw_profile_data_re_v81r.svg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
