<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("links.ejs") %>
    <title>وبلاگ</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header class="header header_m bg-warning text-light" id="event_header">
      ... اخبار
    </header>
    <section id="blog" class="section blog blog_section">
      <div class="container main_container">
        <article>
          <div class="blog_main blog_main_img-R">
            <div class="blog_text">
              <h4>تایتل خبر یک</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار، همایش ها
                <button class="btn blog_btn">...ادامه</button>
              </p>
            </div>
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
          </div>
        </article>
        <article>
          <div class="blog_main blog_main_img-L">
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
            <div class="blog_text">
              <h4>تایتل خبر دو</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار، همایش ها<span
                  ><button class="btn blog_btn">...ادامه</button></span
                >
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="blog_main blog_main_img-R">
            <div class="blog_text">
              <h4>تایتل خبر یک</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار، همایش ها
                <button class="btn blog_btn">...ادامه</button>
              </p>
            </div>
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
          </div>
        </article>
        <article>
          <div class="blog_main blog_main_img-L">
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
            <div class="blog_text">
              <h4>تایتل خبر دو</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار، همایش ها<span
                  ><button class="btn blog_btn">...ادامه</button></span
                >
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="blog_main blog_main_img-R">
            <div class="blog_text">
              <h4>تایتل خبر یک</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار، همایش ها
                <button class="btn blog_btn">...ادامه</button>
              </p>
            </div>
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
          </div>
        </article>
        <article>
          <div class="blog_main blog_main_img-L">
            <div class="blog_img">
              <img src="/public/img/avatar1.png" alt="" />
            </div>
            <div class="blog_text">
              <h4>تایتل خبر دو</h4>
              <p>
                ایجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                یجاد اعتماد به نفس، نظم، تبادل اندیشه، مهارت های کارگروهی و
                زمینه های اشتغال و… . همگی اینها گوشه ای از کارکردهای پنهان می
                باشند که با در نظر گرفتن کارکردهای آشکار از جمله بازدید های
                علمی، معارفه رشته، سمینار،همایش ها<span
                  ><button class="btn blog_btn">...ادامه</button></span
                >
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
