<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/links.ejs") %>
        <title>ููุงุด</title>
</head>

<body>
    <!-- nav bar -->
    <%- include("partials/navbar.ejs") %>
        <!-- main -->
        <header id="blog_header" class="header header_m text-light">
            <p> ููุงุด . . .</p>
            <%- include("partials/divider.ejs") %>
        </header>
        <section id="Conferance" class="section conferance conferance_section">
            <img src="/public/img/conference/main.jpg" alt="Conferance picture">
        </section>
        <section class="conferance_top section">
            <div class="container main_container conferance_container">
                <h1>ูู ุชุงฺฉ ุจุฑฺฏุฒุงุฑ ูฺฉูุฏ</h1>
                <h3>๐ฅ๐ฅ๐ฅููุงุด ุฏูู ุจุง ููุถูุน ุจููุช ฺูุฑูุงู๐ฅ๐ฅ๐ฅ</h3>
                <p>ูุทุนุง ููู ุงุฒ ุงููุช ุจุฑูุงูู ุฑุฒ ุฎุจุฑ ุฏุงุฑู ูุฑุงุฑู ุชู ุงู ููุงุด ุงุฏุจฺฏุฑู ฺู ุฌูุฑู ุงุฒ ฐ ุชุง ฑฐฐ ุฒูุฏฺฏููู
                    ุงุณุชูุงุฏู ฺฉูู๐</p>
                <h4>ููู ุงูุงู ุจุง ฺฉุฏ ุชุฎูู ููู ุงูุงุฏู  <a href="#"> ุซุจุช ูุงู</a> ฺฉู</h4>
                <div class="discount_code">
                    <p>XDXDXDXD</p>
                    <span>ฺฉุฏุชุฎูู ูฺู</span>
                </div>
            </div>
        </section>
        <section class="conference-about section">
            <div class="container main_container">
                <h2 class="section_title">ุชูุถุญุงุช ููุงุด</h2>
                <div class="about_main">
                    <div class="about_main-img">
                        <img src="/public/img/conference/undraw_candidate_ubwv.svg" alt="">
                    </div>
                    <div class="about_main-text">
                        <h3>ูุฑุงุฑู ุชู ุงู ููุงุด ุฑุงุฌุจ ฺุง ุตุญุจุช ฺฉูู ุ</h3>
                        <ul>
                            <li>ุจุฑุง ูุฏุฑุช ุงุตูู ุฒูุงู ุฏููุง ฺู ูพุด ูุงุฒ ูุง ูุงุฒู ุฏุงุฑู ุ</li>
                            <li>ุจุฑูุงูู ุฑุฒ ูุงููู ุฑู ฺุฌูุฑ ุซุจุช ฺฉูู ุชุง ุจุดุชุฑู ุชุงุซุฑ ุฑู ุฏุงุดุชู ุจุงุดู ุ</li>
                            <li>Bullet Journal ุฏููุง ฺ ูุณุชุด ุ</li>
                            <li>ุณุจฺฉ ูุง ูุฎุชูู ุงุฌุงุฏ ฺฉ Planner ฺุง ูุณุชุด ุ </li>
                            <li>ู ฺฉู ููุถูุนุงุช ฺฉู ุจ ุดฺฉ ุจู ุฏุฑุฏุชูู ูุฎูุฑู !!</li>
                        </ul>
                    </div>
                </div>
                <p>ูพุณ ุจุง ูุง ููุฑุงู ุจุงุดุฏ ุฏุฑ : ยซ ููุงุด ูุฏุฑุช ุฒูุงู ู ุจุฑูุงูู ุฑุฒ ุจู ุณุจฺฉ Bullet Journal ยป</p>
            </div>
        </section>
        <section class="conference_teacher section">
            <div class="container main_container">
                <h2 class="section_title">ุณุฎูุฑุงู</h2>
                <div class="teacher-img">
                    <img src="/public/img/conference/teacher.jpg" alt="">
                </div>
                <div class="teacher-text">
                    <ul>
                        <li>ูุฏุฑ ุนุงูู ุจุงุดฺฏุงู ูุฏุฑุงู ุงุฑุงู</li>
                        <li>ุจุฒูุณ ฺฉูฺ</li>
                        <li>ูุฏุฑุณ ู ูุดุงูุฑ ฺฉุณุจ ู ฺฉุงุฑ</li>
                        <li>ุฏฺฉุชุฑ ูุฏุฑุช ุญุฑูู ุง ฺฉุณุจ ู ฺฉุงุฑ</li>
                        <li>ููุณูุฏู ฺฉุชุงุจ ูุง ุชูุณุนู ูุฑุฏ</li>
                    </ul>
                </div>
                <h3>ููุงุด ุจููุช ฺูุฑูุงู ฒต ูุฑูุฑุฏู ูุงู ุฏุฑ ุณุงูู ูุฑุฏูุณ ุณุงุนุช 3 ุจุฑฺฏุฒุงุฑ ูโุดูุฏ ููุชุธุฑุชูู ูุณุชู๐</h3>
            </div>
        </section>
        <section class="conference_end">
            <div class="container main_container">
                <div class="map">
                    <h3>ุงุฏุฑุณ ูฺฉุงู ุจุฑฺฏุฒุงุฑ</h3>
                    <div>
                        <a href="https://www.google.com/maps/search/?api=1&query=35.70947516,51.41505749&zoom=15">
                            <img src="/public/img/conference/map.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="conferenc_points">
                    <h3>ูฺฉุงุช ููู</h3>
                    <ul>
                        <li>ูพูุดุด ูุงุณฺฉ ุงุฌุจุงุฑ ุงุณุช</li>
                        <li>ุฑุนุงุช ูุงุตูู ุงุฌุชูุงุน ุงูุฒุงู ุงุณุช</li>
                    </ul>
                </div>
                <div class="conferenc_points">
                    <h3>ุฑุงู ุงุฑุชุจุงุท ุฏุฑ ุตูุฑุช ุฏุงุดุชู ูุฑฺฏููู ุณูุงู ุง ูุดฺฉู</h3>
                    <ul>
                        <li>
                            ุงุฒ ุทุฑู <a href="./about#contact">ููฺฉ ุณุงุช</a>
                        </li>
                        <li>
                            ู ุง ุจุง <a href="https://t.me/mech_khu">ุงุฏูู ฺฉุงูุงู ุชูฺฏุฑุงู</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- footer -->
        <%- include("partials/footer.ejs") %>
</body>

</html>