<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("links.ejs") %>
    <title>رویدادها</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header class="header header_m bg-warning text-light" id="event_header">
      ... رویدادها
    </header>
    <section id="special_courses" class="section special_courses courses_section bg-info">
      <div class="container main_container">
        <div class="special">
          <div class="sec-left">
            <img
              src="/public/img/courses/3.jpg"
              class="img-thumbnail"
              alt="..."
            />
          </div>
          <div class="sec-right">
            <p> رویـدادها و دوره های
              انجمن علمی دانـشجویـی
              مهندسـی مکـــانیــک
              دانشـگاه خوارزمی
            </p>
            <img src="/public/img/avatar1.png" class="img-thumbnail" alt="">
        </div>
      </div>
    </section>
    <section id="course" class="section course courses_section">
      <div class="container main_container">
        <h2 class="section_title">لیست دوره ها</h2>
        <div class="courses">
          <article class="course_articel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
              <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article class="course_articel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
              <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article class="course_articel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
              <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
          <article class="course_articel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
              <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <hr>
    <section id="course_old" class="section course_old courses_section">
      <div class="container main_container">
        <h2 class="section_title" style="margin-bottom: 40px;">دوره ها و رویداد های برگزار شده</h2>
          <div class="owl-carousel owl-theme">
            <div class="item"><h4>1</h4></div>
            <div class="item"><h4>2</h4></div>
            <div class="item"><h4>3</h4></div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
            <div class="item"><h4>7</h4></div>
            <div class="item"><h4>8</h4></div>
            <div class="item"><h4>9</h4></div>
            <div class="item"><h4>10</h4></div>
            <div class="item"><h4>11</h4></div>
            <div class="item"><h4>12</h4></div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
