<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav_logo">
      <a class="nav_logo" href="#">
        <img src="/public/img/avatar1.png" alt=""
      /></a>
      <div class="nav_logo_text">
        <a href="#">
          <p>انجمن علمی دانشجويی مهندسی<span>مکانیک دانشگاه خوارزمی</span></p>
        </a>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">نشریه تکنیک</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">دوره ها و رویداد ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">درباره ی ما</a>
        </li>
        <li class="nav-item p">
          <a class="nav-link active" aria-current="page" href="/">خانه</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
