<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/sass/css/technicBook.css">

<head>
  <%- include("partials/links.ejs") %>
    <title>نشریه تکنبک</title>
</head>

<body>
  <!-- nav bar -->
  <%- include("partials/navbar.ejs") %>
    <!-- main -->
    <header id="technic_header" class="header header_m text-light">
      <p>نشریه تکنیک . . .</p>
      <%- include("partials/divider.ejs") %>
    </header>
    <section id="special_teknick" class="section special_teknick teknick_section">
      <div class="container main_container">
        <div class="special">
          <div class="sec-left">
            <!--  book stley  -->
            <div class="imgLoader"></div>
            <div class="style">
              <!-- <h1 class="title">Turning pages<br>with css</h1>   -->
              <!-- <div class="credit">   
                * Images loaded randomly from Picsum.photos
                </div>   -->
              <div class="book">
                <div class="gap"></div>
                <div class="pages">
                  <div class="page"></div>
                  <div class="page"></div>
                  <div class="page"></div>
                  <div class="page"></div>
                  <div class="page"></div>
                  <div class="page"></div>
                </div>
                <div class="flips">
                  <div class="flip flip1">
                    <div class="flip flip2">
                      <div class="flip flip3">
                        <div class="flip flip4">
                          <div class="flip flip5">
                            <div class="flip flip6">
                              <div class="flip flip7"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="sec-right">
            <h2 class="header_tec">نشریه انجمـن علمی دانشجویی مهندسی مکانیک دانشگاه خوارزمی<br>-مجله تکنیک-</h2>
            <div class="logo_tecknick">
              <img src="/public/img/logo/تکنیک فارسی - سیاه.png" alt="">
            </div>
            <div class="tecknick_links">
              <!-- <a href=""><div class="tec_link_btn" style="font-size: 30px;">سری 0</div></a> -->
              <a href="/public/Technic/Technic - Serie 1.pdf" target="_blank">
                <div class="tec_link_btn hvr-grow-shadow" style="font-size: 25px;">سری 1</div>
              </a>
            </div>
          </div>
        </div>
    </section>
    <hr>
    <section id="teknick_description" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">معرفیه نشریه انجمن مکانیک دانشگاه خوارزمی</h2>
        <div class="tec_discription">
          <p>با روی کار آمدن اعضای جدید انجمن علمی-دانشجویی مهندسی مکانیک دانشگاه خوارزمی، پس از انتخابات شهریورماه 1400
            و سیاست‌های جدید این انجمن علمی، نشریه تکنیک تحت نظارت آن در تاریخ 1/7/1400 تشکیل شد. در حال حاضر این نشریه
            به سردبیری حسام فروتنی و مدیر‌مسئولی ابوالفضل جعفری نعیمی، دانشجویان رشته مهندسی مکانیک دانشگاه خوارزمی در
            حال فعالیت است. استاد مشاور این نشریه جناب دکتر محمد سعادت بخش می‌باشند.</p>
          <p>اهداف نشریه تکنیک در راستای پیوند صنعت و دانشگاه بوده و تیم ما در هر شماره از این مجله تلاش نموده‌ایم که در
            شاخه‌های مختلف رشته مکانیک به بحث در رابطه با به روزترین موضوعات و پیشرفته‌ترین فناوری‌ها بپردازیم. همچنین
            بخش تکنیک پلاس را نه تنها برای دانشجویان رشته مکانیک بلکه برای هر دانشجوی مشتاق مطالعه فراتر از مباحث
            دانشگاهی آماده نموده‌ایم.</p>
          <div>
            <h5>هیئت تحریر</h5>
            <p>محنا ایمانی، فاطمه بطحائی، امیر سعیدی‌زادگان، کیمیا صائبی، علی طاهری، پارسا فتحی، کیارش محمدآقائی، پارسا
              مختاری، علیرضا منصوری و فاطمه مظفری.</p>
          </div>
        </div>
      </div>
    </section>
    <br>
    <section id="teknick_list" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">لیست نشریه ها</h2>
        <div class="tec_list">
          <div class="card">
            <img src="/public/img/technic/Serie/0002.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">سری صفر</h5>
              <a href="/public/Technic/Technic - Serie 0.pdf" target="_blank" class="btn btn-primary">دانلود</a>
            </div>
          </div>
          <div class="card">
            <img src="/public/img/technic/Serie/0001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">سری اول</h5>
              <a href="/public/Technic/Technic - Serie 1.pdf" target="_blank" class="btn btn-primary">دانلود</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include("partials/footer.ejs") %>
</body>

</html>