<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("links.ejs") %>
    <title>نشریه تکنبک</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header
    id="tecnick_header"
    class="header header_m text-light"
  >
  <p>نشریه تکنیک . . .</p>
    <div style="overflow: hidden;">
      <svg
        preserveAspectRatio="none"
        viewBox="0 0 1200 120"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: #7ffa52; width: 100%; height: 60px; transform: rotate(180deg) scaleX(-1);"
      >
        <path
        d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
        opacity=".25"
      />
        <path
          d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
          opacity=".5"
        />
        <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
      </svg>
    </div>
  </header>
    <section id="special_teknick" class="section special_teknick teknick_section">
      <div class="container main_container">
        <div class="special">
          <div class="sec-left">
            <!--  book stley  -->
            <div class="imgLoader"></div>
            <div class="style"> 
              <h1 class="title">Turning pages<br>with css</h1>  
              <div class="credit">   
                * Images loaded randomly from Picsum.photos
                </div>  
                <div class="book">
                  <div class="gap"></div>  
                  <div class="pages">  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                  </div>  
                  <div class="flips">  
                    <div class="flip flip1">  
                      <div class="flip flip2">  
                        <div class="flip flip3">  
                          <div class="flip flip4">  
                            <div class="flip flip5">  
                              <div class="flip flip6">  
                                <div class="flip flip7"></div>  
                              </div>  
                            </div>  
                          </div>  
                        </div>  
                      </div>  
                    </div>  
                  </div>  
                </div>
              </div>
            <!--  -->
          </div>
          <div class="sec-right">
            <h2 class="header_tec">نشریه انجمـن علمی دانشجویی مهندسی مکانیک دانشگاه خوارزمی<br>-مجله تکنیک-</h2>
            <div class="logo_tecknick">
              <img src="/public/img/logo/تکنیک فارسی - سیاه.png" alt="">
            </div>
            <div class="tecknick_links">
              <!-- <a href=""><div class="tec_link_btn" style="font-size: 30px;">سری 0</div></a> -->
              <a href="/public/Amir_Saeedi_Resume.pdf"><div class="tec_link_btn hvr-grow-shadow" style="font-size: 25px;">سری 1</div></a>
            </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="teknick_description" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">معرفیه نشریه انجمن مکانیک دانشگاه خوارزمی</h2>
        <div class="tec_discription">
          <p>در راستای پیشبرد اهداف علمی و فرهنگی انجمن علمی دانشجویی مهندسی مکانیک دانشگاه تبریز، مجله علمی – دانشجویی گشتاور به صاحب امتیازی انجمن مکانیک تبریز در تاریخ ۱۳۹۰/۷/۱ شروع به کار نمود و یکی از قدیمی ترین نشریات انجمنهای علمی دانشگاه تبریز به شمار می رود. دفتر این مجله، در شهر تبریز و در دانشکده فنی مهندسی مکانیک دانشگاه تبریز (ساختمان ۱۴) واقع است. لازم به ذکر است نشریه گشتاور، تنها مجله اختصاصی کمیته نشریه در انجمن علمی مکانیک دانشگاه تبریز بوده و انتشار هر گونه مجله، خبرنامه، ویژه‌نامه و… صرفاً زیرنظر این کمیته مجاز است. در حال حاضر این نشریه، تحت عنوان گاهنامه علمی دانشجویی با مدیر مسئولی سید محمدرضا امت محمدی و سردبیری شایان رزاق مشغول فعالیت است. نشریه گشتاور در سطوح مختلف درون دانشگاهی، منطقه ای و ملی از سال ۹۵ در حال افتخارآفرینی برای انجمن مکانیک تبریز است. برای دیدن لیست این افتخارات، می توانید به بخش ” درباره ما ” در سایت انجمن علمی مراجعه کنید.</p>
          <p>در راستای پیشبرد اهداف علمی و فرهنگی انجمن علمی دانشجویی مهندسی مکانیک دانشگاه تبریز، مجله علمی – دانشجویی گشتاور به صاحب امتیازی انجمن مکانیک تبریز در تاریخ ۱۳۹۰/۷/۱ شروع به کار نمود و یکی از قدیمی ترین نشریات انجمنهای علمی دانشگاه تبریز به شمار می رود. دفتر این مجله، در شهر تبریز و در دانشکده فنی مهندسی مکانیک دانشگاه تبریز (ساختمان ۱۴) واقع است. لازم به ذکر است نشریه گشتاور، تنها مجله اختصاصی کمیته نشریه در انجمن علمی مکانیک دانشگاه تبریز بوده و انتشار هر گونه مجله، خبرنامه، ویژه‌نامه و… صرفاً زیرنظر این کمیته مجاز است. در حال حاضر این نشریه، تحت عنوان گاهنامه علمی دانشجویی با مدیر مسئولی سید محمدرضا امت محمدی و سردبیری شایان رزاق مشغول فعالیت است. نشریه گشتاور در سطوح مختلف درون دانشگاهی، منطقه ای و ملی از سال ۹۵ در حال افتخارآفرینی برای انجمن مکانیک تبریز است. برای دیدن لیست این افتخارات، می توانید به بخش ” درباره ما ” در سایت انجمن علمی مراجعه کنید.</p>
        </div>
        </div>
    </section>
    <br>
    <section id="teknick_list" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">لیست نشریه ها</h2>
        <div class="tec_list">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
            <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
            <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
