<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("links.ejs") %>
    <title>نشریه تکنبک</title>
  </head>
  <body>
    <!-- nav bar -->
    <%- include("navbar.ejs") %>
    <!-- main -->
    <header id="teknick_header" class="header header_m bg-warning text-light">
      . . . نشریه تکنیک
    </header>
    <section id="special_teknick" class="section special_teknick teknick_section">
      <div class="container main_container">
        <div class="special">
          <div class="sec-left">
            <!--  book stley  -->
            <div class="imgLoader"></div>
            <div class="style"> 
              <h1 class="title">Turning pages<br>with css</h1>  
              <div class="credit">   
                * Images loaded randomly from Picsum.photos
                </div>  
                <div class="book">
                  <div class="gap"></div>  
                  <div class="pages">  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                    <div class="page"></div>  
                  </div>  
                  <div class="flips">  
                    <div class="flip flip1">  
                      <div class="flip flip2">  
                        <div class="flip flip3">  
                          <div class="flip flip4">  
                            <div class="flip flip5">  
                              <div class="flip flip6">  
                                <div class="flip flip7"></div>  
                              </div>  
                            </div>  
                          </div>  
                        </div>  
                      </div>  
                    </div>  
                  </div>  
                </div>
              </div>
            <!--  -->
          </div>
          <div class="sec-right">
            <h2>نشریه انجمـن علمی دانشجویی مهندسی مکانیک دانشگاه خوارزمی<br>-مجله تکنیک-</h2>
            <div class="tecknick_links">
              <a href=""><div class="tec_link_btn" style="font-size: 30px;">سری 0</div></a>
              <a href=""><div class="tec_link_btn" style="font-size: 30px;">سری 1</div></a>
            </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="teknick_description" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">معرفیه نشریه انجمن مکانیک دانشگاه خوارزمی</h2>
        <div class="tec_discription">
          <p>در راستای پیشبرد اهداف علمی و فرهنگی انجمن علمی دانشجویی مهندسی مکانیک دانشگاه تبریز، مجله علمی – دانشجویی گشتاور به صاحب امتیازی انجمن مکانیک تبریز در تاریخ ۱۳۹۰/۷/۱ شروع به کار نمود و یکی از قدیمی ترین نشریات انجمنهای علمی دانشگاه تبریز به شمار می رود. دفتر این مجله، در شهر تبریز و در دانشکده فنی مهندسی مکانیک دانشگاه تبریز (ساختمان ۱۴) واقع است. لازم به ذکر است نشریه گشتاور، تنها مجله اختصاصی کمیته نشریه در انجمن علمی مکانیک دانشگاه تبریز بوده و انتشار هر گونه مجله، خبرنامه، ویژه‌نامه و… صرفاً زیرنظر این کمیته مجاز است. در حال حاضر این نشریه، تحت عنوان گاهنامه علمی دانشجویی با مدیر مسئولی سید محمدرضا امت محمدی و سردبیری شایان رزاق مشغول فعالیت است. نشریه گشتاور در سطوح مختلف درون دانشگاهی، منطقه ای و ملی از سال ۹۵ در حال افتخارآفرینی برای انجمن مکانیک تبریز است. برای دیدن لیست این افتخارات، می توانید به بخش ” درباره ما ” در سایت انجمن علمی مراجعه کنید.</p>
          <p>در راستای پیشبرد اهداف علمی و فرهنگی انجمن علمی دانشجویی مهندسی مکانیک دانشگاه تبریز، مجله علمی – دانشجویی گشتاور به صاحب امتیازی انجمن مکانیک تبریز در تاریخ ۱۳۹۰/۷/۱ شروع به کار نمود و یکی از قدیمی ترین نشریات انجمنهای علمی دانشگاه تبریز به شمار می رود. دفتر این مجله، در شهر تبریز و در دانشکده فنی مهندسی مکانیک دانشگاه تبریز (ساختمان ۱۴) واقع است. لازم به ذکر است نشریه گشتاور، تنها مجله اختصاصی کمیته نشریه در انجمن علمی مکانیک دانشگاه تبریز بوده و انتشار هر گونه مجله، خبرنامه، ویژه‌نامه و… صرفاً زیرنظر این کمیته مجاز است. در حال حاضر این نشریه، تحت عنوان گاهنامه علمی دانشجویی با مدیر مسئولی سید محمدرضا امت محمدی و سردبیری شایان رزاق مشغول فعالیت است. نشریه گشتاور در سطوح مختلف درون دانشگاهی، منطقه ای و ملی از سال ۹۵ در حال افتخارآفرینی برای انجمن مکانیک تبریز است. برای دیدن لیست این افتخارات، می توانید به بخش ” درباره ما ” در سایت انجمن علمی مراجعه کنید.</p>
        </div>
        </div>
    </section>
    <br>
    <section id="teknick_list" class="section teknick_description teknick_section">
      <div class="container main_container">
        <h2 class="section_title">لیست نشریه</h2>
        <div class="tec_list">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
            <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
            <img src="/public/img/avatar1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include("footer.ejs") %>
  </body>
</html>
