@font-face {
  font-family: BalooBhaijaan;
  src: url(/public/font/BalooBhaijaan2-Medium.ttf);
}
@font-face {
  font-family: vazir;
  src: url(/public/font/Vazir-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: vazir, tahoma;
  overflow-x: hidden;
  background: #f5f2f2;
  direction: ltr;
  font-weight: 400;
  line-height: 1.6;
  font-size: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

li {
  color: black;
  list-style: none;
}

a {
  color: black;
}

.container {
  max-width: 120rem;
  margin: 4vw auto;
  border-radius: 9px;
  overflow: hidden;
}
@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

/* change border colour to suit your needs */
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label,
button {
  font-family: BalooBhaijaan, tahoma;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: #615551;
  direction: rtl;
}

li {
  list-style: none;
}

input,
select {
  vertical-align: middle;
}

.btn {
  width: 100%;
  padding: 12px 25px;
  border-radius: 12px 25px;
  font-size: 13px;
  border: none;
  text-align: start;
}

.header_m {
  text-align: right;
  padding: 40px 0 0 0;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  background: #3d3d3d;
}
.header_m p {
  padding-right: 40px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  color: #f9f5f3;
}

.section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 30px;
}
.section h2 {
  color: #3b3432;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  padding: 10px;
}

.section_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section_main .card {
  width: 32rem;
  margin: 10px 30px;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .section h2 {
    font-size: 17px;
  }
}
.navbar {
  z-index: 99;
  max-height: 80px;
  background-color: #6059f7 !important;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .navbar-collapse .nav-item {
  padding: 0 5px;
  white-space: nowrap;
}
.navbar .navbar-collapse .nav-item .nav-link {
  color: #f2efee;
  font-size: 18px;
}
.navbar .navbar-collapse .nav__link {
  transition: 0.5s all;
}
.navbar .navbar-collapse .dropdown-menu {
  background: rgba(96, 89, 247, 0.8);
  direction: rtl;
  border: none;
  transition: all 0.5s;
}
.navbar .navbar-collapse .dropdown-menu li {
  direction: rtl;
}
.navbar .navbar-collapse .dropdown-menu li::marker {
  color: #3b3432;
  font-size: 15px;
}
.navbar .navbar-collapse .dropdown-menu li .dropdown-item {
  transition: all 0.2s;
  border-radius: 10px;
  font-size: 15px;
  color: #f2efee;
}
.navbar .navbar-collapse .dropdown-menu li .dropdown-item:hover {
  background: none;
  color: #d3c7c3;
}
.navbar .navbar-collapse .nav_logo_sm {
  display: none;
}
.navbar .container-fluid .nav_logo {
  width: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}
.navbar .container-fluid .nav_logo img {
  width: 29%;
}
.navbar .container-fluid .nav_logo .nav_logo_text p {
  font-size: 15px;
  color: #f2efee;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
}
.navbar .container-fluid .nav_logo .nav_logo_text p span {
  display: block;
  white-space: nowrap;
}
.navbar .logo_uni {
  position: absolute;
  display: flex;
  top: 35%;
  right: 45%;
}
.navbar .logo_uni img {
  background-color: #6059f7;
  max-width: 100px;
  max-height: 100px;
  padding-bottom: 2px;
}
.navbar .logo_uni .logo_uni_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 52px 52px 0;
  border-color: transparent #6059f7 transparent transparent;
  margin-top: 48px;
}
.navbar .logo_uni .logo_uni_right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 52px 52px 0 0;
  border-color: #6059f7 transparent transparent transparent;
  margin-top: 48px;
}

.fixed-top {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  z-index: 98;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: #36c3fe;
  width: 0%;
  display: block;
  height: inherit;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    max-height: none;
  }
  .navbar .logo_uni {
    display: none;
    left: 50%;
    right: 40%;
  }
  .navbar .logo_uni img {
    max-width: 80px;
    max-height: 80px;
  }

  .nav_logo {
    padding-left: 20px;
  }

  .nav_logo_img {
    display: none;
  }

  .nav_logo_text {
    margin-left: 45px;
    padding: 20px;
    margin-top: 10px;
  }

  .navbar-collapse {
    width: 100%;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;
    padding-right: 0px !important;
    direction: rtl;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column !important;
  }
  .navbar-collapse .nav_logo_sm {
    display: block !important;
    margin: 0 13%;
  }
  .navbar-collapse .nav_logo_sm img {
    max-width: 100px;
    max-height: 100px;
  }

  .logo_uni_left,
.logo_uni_right {
    display: none;
  }

  .fixed-top {
    z-index: 100;
    top: 107px;
  }

  .dropdown-menu {
    text-align: justify !important;
  }
  .dropdown-menu li {
    list-style: inside;
  }
  .dropdown-menu li .dropdown-item {
    color: #d3c7c3 !important;
  }
  .dropdown-menu li .dropdown-item:hover {
    background: #555555;
    color: #f2efee !important;
  }
}
.h_btn {
  background: #3d3d3d;
  color: #f2efee;
}
.h_btn:hover {
  color: #f2efee;
  opacity: 0.8;
}

.carousel {
  background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: relative;
}
.carousel .carousel-inner img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  margin: 0 auto;
  min-width: 60%;
  max-width: 60%;
  height: 555px;
  opacity: 1;
  border-radius: 2px;
}
.carousel .carousel_control_style_R {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #8c61ff;
}
.carousel .carousel_control_style_R::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 10px;
  margin-left: 10px;
  border-style: solid;
  border-width: 10px 0 10px 25px;
  border-color: transparent transparent transparent #3d3d3d;
}
.carousel .carousel_control_style_L {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #8c61ff;
}
.carousel .carousel_control_style_L::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 10px;
  margin-left: 5px;
  height: 0;
  border-style: solid;
  border-width: 10px 25px 10px 0;
  border-color: transparent #3d3d3d transparent transparent;
}
.carousel .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 5px;
  border-radius: 50%;
  background: #8c61ff;
}
.carousel .carousel-indicators .active {
  background: #3d3d3d;
}
.carousel .carousel-caption {
  width: 50%;
  height: 400px;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid #f1f1f1;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  margin: auto;
  top: 50%;
  bottom: -60%;
  left: 50%;
  right: 50%;
  top: 10px;
}
.carousel .carousel-caption h5 {
  direction: rtl;
  margin-top: 18%;
  font-size: 35px;
  color: #ffffff;
}
.carousel .carousel-caption p {
  font-family: "vazir";
  padding-top: 20px;
  color: #ffffff;
}
.carousel .carousel-caption p a {
  transition: all 0.5s;
  color: #f9f5f3;
}
.carousel .carousel-caption p a:hover {
  color: #d3c7c3;
}

.h_news .card {
  direction: rtl;
  min-width: 330px;
  max-width: 330px;
  height: 500px;
  border-radius: 10px;
}
.h_news .card .card-title {
  color: #6c757d;
}
.h_news .card .card-text {
  font-size: 15px;
}
.h_news .card img {
  height: 350px;
  border-radius: 10px;
}
.h_news a {
  direction: rtl;
  background: #36c3fe;
  color: #f2efee;
}
.h_news .btn:hover {
  background-color: #6059f7 !important;
}

.activity_audio {
  max-width: 600px;
}

.h_about h2 {
  color: #3b3432;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}
.h_about p {
  color: #615551;
  font-size: 15px;
  text-align: center;
  direction: rtl;
}

@media screen and (max-width: 1000px) {
  .carousel .carousel-inner img {
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 300px;
    min-height: 300px;
  }
  .carousel .carousel-caption {
    display: block !important;
    height: 200px;
  }
  .carousel .carousel-caption h5 {
    font-size: 12px;
  }
  .carousel .carousel-caption p {
    font-weight: 400;
    font-size: 8px;
  }
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row p {
  font-size: 25px;
}
.row .row_header {
  margin-top: 25px;
}
.row .ih-item.circle.effect1 .spinner {
  border: 10px solid #6059f7;
  border-right-color: #8c61ff;
  border-bottom-color: #8c61ff;
}

.spic-title-about {
  font-family: "vazir";
}

.text_About {
  padding-top: 30px;
}
.text_About p {
  text-align: justify;
  direction: rtl;
  font-size: 18px;
}

.introduction_team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
}
.introduction_team .team_description h5 {
  font-size: 18px;
  color: #615551;
}
.introduction_team .team_description P {
  font-size: 8px;
  color: #6c757d;
  cursor: pointer;
}
.introduction_team .team_description a {
  transition: all 0.2s;
  color: #6c757d;
}
.introduction_team .team_description a:hover {
  color: #3b3432;
}

.text_honors {
  width: 100%;
  text-align: end;
  padding-top: 50px;
}
.text_honors p {
  text-align: justify;
  direction: rtl;
  font-size: 18px;
  padding-top: 5px;
}
.text_honors p span {
  padding-left: 8px;
  font-weight: bold;
}

.section_main .card_About {
  width: 20rem;
}

.contactUs_main {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 20px;
  align-content: space-between;
}
.contactUs_main .form_contact_us {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  direction: rtl;
}
.contactUs_main .form_contact_us input,
.contactUs_main .form_contact_us textarea {
  padding: 8px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #615551;
}
.contactUs_main .form_contact_us label {
  font-size: 15px;
  color: #6c757d;
}
.contactUs_main .form_contact_us button {
  color: #f2efee;
  border: 1px solid #36c3fe;
  background: #36c3fe;
  margin-bottom: 10px;
}
.contactUs_main .form_contact_us button:hover {
  background: #6059f7;
}
.contactUs_main .img_form_cnatact {
  display: flex;
  align-items: center;
  background: #888;
  border-radius: 10px;
  padding: 20px;
}
.contactUs_main .img_form_cnatact img {
  margin-top: auto;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.special {
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  gap: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.special .row {
  display: flex;
  align-content: center;
}
.special .row .ih-item.circle {
  width: 330px !important;
  height: 330px !important;
}
.special .row .ih-item img,
.special .row .ih-item.circle .img:before {
  border-radius: 10% !important;
  width: 150% !important;
  height: 150% !important;
}
.special .sec-right {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-left: 0;
}
.special .sec-right p {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}
.special .sec-right img {
  width: 250px;
  height: 200px;
  opacity: 0.8;
  background: none;
  border: none;
}

.info p {
  margin: 30px !important;
}

.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.courses .course_articel {
  max-width: 25rem;
  margin: 10px 20px;
}
.courses .course_articel .card img {
  max-height: 350px;
  min-height: 350px;
}
.courses .course_articel .card h5 {
  color: #918581;
  font-size: 12px;
}
.courses .course_articel .card p {
  text-align: justify;
  font-size: 15px;
}
.courses .course_articel .card a {
  direction: rtl;
  background: #36c3fe;
}
.courses .course_articel .card a:hover {
  background: #6059f7;
}

.item img {
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  min-height: 300px;
  max-height: 300px;
  min-width: 250px;
}

.owl-prev,
.owl-next {
  color: #8c61ff !important;
  font-size: 35px !important;
  transition: all 0.5s;
}
.owl-prev:hover,
.owl-next:hover {
  color: #6059f7 !important;
}

@media screen and (max-width: 1000px) {
  .special {
    gap: 50px;
  }
}
.sec-right {
  padding-left: 50px;
}
.sec-right h2 {
  color: #36c3fe;
}
.sec-right .header_tec {
  font-size: 25px;
  font-family: "vazir";
  font-variant: none;
  line-height: 1.2;
}
.sec-right .logo_tecknick {
  padding: 30px 0 50px;
}
.sec-right .logo_tecknick img {
  width: 200px;
}
.sec-right .tec_link_btn {
  margin: 0 26px 13px;
  background: #36c3fe;
  color: #f2efee;
  position: relative;
  height: auto;
  border: none;
  border-radius: 0;
  line-height: 1.7;
  font-size: 18px;
  margin: 0 0 12px 0;
  min-width: 250px;
}
.sec-right .tec_link_btn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 17px solid #36c3fe;
  left: -17px;
  top: 0;
}
.sec-right .tec_link_btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 17px solid #36c3fe;
  right: -17px;
  top: 0;
}

.tec_discription p {
  direction: rtl;
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;
  color: #444;
}
.tec_discription h5 {
  direction: rtl;
  text-align: justify;
  font-size: 25px;
  padding-top: 30px;
  color: #222;
}

.tec_list {
  width: 100%;
  padding-top: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.tec_list .card {
  width: 25rem;
  box-shadow: 1px 1px 1px rgba(225, 225, 225, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3);
}
.tec_list .card .card-title {
  font-family: "vazir";
  font-size: 15px;
  font-weight: 400;
  color: #918581;
}
.tec_list .card a {
  justify-content: center;
  align-content: center;
  background: #36c3fe;
  color: #f2efee;
}
.tec_list .card a:hover {
  background: #6059f7;
}

.blog_main {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}
.blog_main .blog_img {
  display: flex;
  max-width: 100%;
}
.blog_main .blog_img img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.blog_main .blog_img .blog_img-l {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.blog_main .blog_text {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.blog_main .blog_text h4 {
  direction: rtl;
  color: #f9f5f3;
  padding: 20px;
  text-align: justify;
  font-size: 25px;
  font-weight: 400;
}
.blog_main .blog_text p {
  line-height: 1.5;
  padding: 20px;
  direction: rtl;
  color: #f2efee;
  font-size: 15px;
  text-align: justify;
}
.blog_main .blog_text p .blog_btn {
  direction: ltr;
  color: #d3c7c3;
  display: inline;
  padding: 0 15px !important;
}

.blog_main_img-R {
  display: flex;
  flex-wrap: wrap-reverse;
}

.blog_description {
  direction: rtl;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  background: rgba(225, 225, 225, 0.7);
}
.blog_description h4 {
  font-size: 35px;
  color: #615551;
  text-align: center;
  padding: 25px;
}
.blog_description p {
  font-size: 15px;
  color: #3b3432;
}
.blog_description .blog_btn_close {
  display: inline-block;
  color: #918581;
}
.blog_description .blog_imgs_descrip {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.blog_description .blog_imgs_descrip img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}
.blog_description .blog_video_descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 40px;
}
.blog_description .blog_video_descrip video {
  width: 50%;
  max-height: 400px;
}

.bg-blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/blog/Blog post-bro.svg");
  background-color: #cccccc;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  opacity: 0.05;
  z-index: 0;
}

.aparat-background {
  position: relative;
}

.aparat_search {
  position: relative;
  z-index: 10;
  direction: rtl;
  text-align: start;
  width: 100%;
  padding-top: 20px;
  padding-right: 40px;
}
.aparat_search .aparat_search_box {
  width: 200px;
}
.aparat_search .aparat_search_box label {
  font-size: 18px;
  font-weight: bold;
  font-family: "vazir";
}
.aparat_search .aparat_search_box input {
  padding: 10px;
  font-size: 15px;
}

.drag {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 10px;
  gap: 20px;
}

.drag_items {
  display: flex;
  height: 500px;
  padding: 100px 40%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  perspective: 500px;
}

.drag_items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.drag_item {
  min-width: 200px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.drag_item img {
  width: 300%;
  height: 300px;
}

.aparat_link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 100%;
  min-height: 100%;
}
.aparat_link:hover {
  color: initial;
}

.aparat_text h3 {
  font-size: 15px;
}
.aparat_text h5 {
  font-size: 12px;
}
.aparat_text h6 {
  font-size: 8px;
  color: #666;
}

.aparat_btn {
  display: block;
  background: blueviolet;
  color: #f2efee !important;
}

.drag_item:nth-child(9n+1) {
  background: dodgerblue;
}

.drag_item:nth-child(9n+2) {
  background: goldenrod;
}

.drag_item:nth-child(9n+3) {
  background: paleturquoise;
}

.drag_item:nth-child(9n+4) {
  background: gold;
}

.drag_item:nth-child(9n+5) {
  background: cadetblue;
}

.drag_item:nth-child(9n+6) {
  background: tomato;
}

.drag_item:nth-child(9n+7) {
  background: lightcoral;
}

.drag_item:nth-child(9n+8) {
  background: darkslateblue;
}

.drag_item:nth-child(9n+9) {
  background: rebeccapurple;
}

.drag_item:nth-child(even) {
  transform: scaleX(1.31) rotateY(40deg);
}

.drag_item:nth-child(odd) {
  transform: scaleX(1.31) rotateY(-40deg);
}

@media screen and (max-width: 480px) {
  .drag_items {
    height: 400px;
  }

  .drag_item {
    min-width: 140px;
  }
}
.bg-aparat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/aparat/undraw_learning_-2-q1h.svg");
  background-color: #cccccc;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  opacity: 0.1;
  z-index: 0;
}

.conferance {
  background: linear-gradient(to right, #444, #e6e6e6);
}
.conferance img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px 10px 0 0;
  box-shadow: -1px -1px 1px #000;
}

.conference-about .about_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.conference-about .about_main .about_main-img img {
  width: 500px;
  height: 500px;
}
.conference-about .about_main .about_main-text {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
.conference-about .about_main .about_main-text h3 {
  padding: 40px 0;
  font-size: 25px;
  text-align: start;
  direction: rtl;
}
.conference-about .about_main .about_main-text ul {
  height: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  padding-bottom: 40px;
}
.conference-about .about_main .about_main-text ul li {
  direction: rtl;
  font-size: 15px;
  color: #555;
}
.conference-about p {
  font-size: 25px;
  color: #111;
  text-shadow: -1px -1px 1px #fff;
}

.conferance_top {
  padding-top: 0;
  margin: 20px;
}
.conferance_top h4 {
  direction: rtl;
}
.conferance_top .conferance_container {
  position: relative;
  background: #fff;
  border-radius: 45px 20px 20px 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px #777;
}
.conferance_top .conferance_container h1 {
  padding: 20px 0;
  font-weight: bold;
}
.conferance_top .conferance_container h3 {
  padding: 15px 0;
}
.conferance_top .conferance_container p {
  padding: 10px 0;
}
.conferance_top .conferance_container .discount_code {
  position: absolute;
  border-radius: 45px 0px 45px 0px;
  top: 0%;
  left: 0;
  padding: 12px 5px;
  background: #04eb04;
  transform: rotate(1deg);
}
.conferance_top .conferance_container .discount_code p {
  margin-bottom: 0;
  padding: 10px 0 0px;
}
.conferance_top .conferance_container .discount_code span {
  font-size: 12px;
  color: #777;
}

.conference_teacher h3 {
  padding-top: 30px;
  direction: rtl;
}
.conference_teacher .teacher-img img {
  width: 150px;
  height: 150px;
}
.conference_teacher .teacher-text ul {
  height: 150px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}
.conference_teacher .teacher-text ul li {
  direction: rtl;
  font-size: 13px;
  color: #777;
  list-style: inside;
}

.conference_end {
  padding-top: 20px;
}
.conference_end h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
}
.conference_end .conferenc_points {
  padding: 30px 0;
}
.conference_end .conferenc_points ul {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 0;
}
.conference_end .conferenc_points ul li {
  direction: rtl;
}

@media screen and (max-width: 500px) {
  .about_main-text {
    padding: 0 !important;
  }
  .about_main-text h3 {
    font-size: 20px !important;
  }
}
.contactT {
  position: relative;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/img/contact/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactT .contact-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(2px);
  background: #999;
  width: 50%;
  height: 50%;
  max-height: 600px;
  border-radius: 20px;
  z-index: 1;
}
.contactT .contact_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 50%;
  height: 50%;
  max-height: 600px;
  border-radius: 20px;
  z-index: 2;
}
.contactT .contact_main h3 {
  color: #fff;
  padding: 20px 10px 0;
  font-weight: 400;
}
.contactT .contact_main h5 {
  color: #fbff00;
  padding: 0 10px;
}
.contactT .contact_main form {
  width: 100%;
  height: 40%;
  max-height: 300px;
}
.contactT .contact_main form input {
  width: 30%;
  min-width: 130px;
  margin: 20px;
  padding: 5px 10px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}
.contactT .contact_main form textarea {
  direction: rtl;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 5px 5px 20px 20px;
  background: rgba(0, 0, 0, 0.8);
}
.contactT .contact_main form button {
  width: 80px;
  background: greenyellow;
  transition: 0.5s all;
}
.contactT .contact_main form button:hover {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .contactT .contact-blur,
.contactT .contact_main {
    max-height: 300px;
  }
  .contactT .contact-blur form input,
.contactT .contact_main form input {
    font-size: 12px;
  }
  .contactT .contact-blur form textarea,
.contactT .contact_main form textarea {
    font-size: 11px;
  }
}
.section_footer {
  width: 100%;
  background-color: #36c3fe;
}
.section_footer .footer_body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section_footer .footer_body .footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section_footer .footer_body .footer h2 {
  text-align: center;
  padding-bottom: 10px;
  color: #f9f5f3;
  border-bottom: 1px solid #fff;
}
.section_footer .footer_body .footer .footer_main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  max-height: 200px;
}
.section_footer .footer_body .footer p {
  font-size: 15px;
  color: #f2efee;
}
.section_footer .footer_body .footer p a {
  color: #f2efee;
}
.section_footer .footer_body .footer a i {
  font-size: 35px;
  padding: 0 20px;
  color: #f2efee;
}
.section_footer .footer_body .footer .footer_icons {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}
.section_footer .footer_body .footer .footer_icons .footer_icon {
  position: relative;
}
.section_footer .footer_body .footer .footer_icons .footer_icon:hover .footer_span_icon {
  opacity: 1;
}
.section_footer .footer_body .footer .footer_icons .footer_span_icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #f2efee;
  opacity: 0;
  top: -36px;
  left: 24px;
  border-radius: 10px;
  transition: all 0.5s;
}
.section_footer .footer_body .footer .footer_icons .footer_span_icon::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 8px 0 8px;
  border-color: #f2efee transparent transparent transparent;
}

.footer-end {
  width: 100%;
  text-align: center;
  background: #3d3d3d !important;
  padding: 10px;
}
.footer-end p {
  direction: ltr;
  font-size: 12px;
  margin-bottom: 0 !important;
  color: #d3c7c3 !important;
}
.footer-end p a {
  text-decoration: underline;
  color: #d3c7c3;
  transition: all 0.2s;
}
.footer-end p a:hover {
  color: #f2efee;
}

/*# sourceMappingURL=style.css.map */
